//====================================
// Global Imports
//====================================
@import '5-layout/mixins';

// 1- Import bootstrap framework
@import '1-frameworks/index';

// 2 - Import plugins
@import '2-plugins/index';

// 3 - Import base style, custom variables and mixins
@import '3-base/index';

// 4 - Import modules
@import '4-modules/index';

// 5 - Import layout  styles
@import '5-layout/index';

//Main Style
@import 'style';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');

//Responsive Style
// @import 'responsive';



/* Custom shit */
$brand__purple : #566FB8;
$brand__gray : #F7F7F7;
$brand__gray2 : #727C8F;


$brand__font : 'Nunito Sans', sans-serif;
$brand__font2 : 'Raleway', sans-serif;

body{
    font-family: $brand__font;
}

.navbar{
    background-color: $brand__gray !important;
    .navbar-brand{
        img{
            max-height: 50px;
            @media (max-width: 991px){
              max-height: 35px;  
            }
        }

    }
    @include media-desktop-up{
        min-height: 100px; 
        .navbar-nav{
            .nav-item{
                width: calc(98% / 3);
            }
            min-width: 500px;
            justify-content: space-around;
        }
        
    }
}
.navbar-dark .navbar-toggler{
    color: $brand__purple;
    border-color: $brand__purple;
    transform: scale(0.8, 0.8) translateY(2px);
    transform-origin: center center;
}
.navbar-toggler-icon{
    color: $brand__purple;
}

.bg-gray{
    background-color: $brand__gray;
}
.bg-gray-2{
    background-color: $brand__gray2;
}
.btn-outline-brand{
    color: $brand__purple;
    background-color: #FFF;
    background-image: none;
    border-color: $brand__purple;
    &:hover, &:active, &:visited, &.active{
        color: #fff;
        background-color: $brand__purple;
        border-color: $brand__purple;
    }
}
.btn-shadowed{
    box-shadow: -0.28px 0.96px 4px 0px rgba(0,0,0,0.6);
}

.special-jumbtron{
    border: 1px solid rgba(48, 48, 48, 1);
    background-color: rgba(84, 114, 138, 0.55);
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    h1{
        text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
        color: #FFF;
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 20px;
        @include media-mobile{
            font-size: 30px;
        }
    }
    p.lead{
        font-size: 19px;
        color: #C1E5C5;
        text-align: center;
        font-weight: 400;
        font-family: $brand__font2;
    }
}

.btn-rounded{
    border-radius: 50px;
}

.feature-container{
    
}

.features-list{
    display: flex;
    @include media-mobile{
        flex-direction: column;
    }
    padding: 30px 0px;
    .feature-item{  
        width: calc(100% / 3);  
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color: #FFF;
        text-align: center;
        img{
            filter: brightness(0) invert(1);
            max-height: 50px; 
            margin-bottom: 30px;
        }
        .desc{
            font-weight: 400;
            font-family: $brand__font2;
            font-size: 18px;
            padding: 0px 20px
        }
        @include media-mobile{ 
            width: 100%;
            padding: 20px 0px;
            .desc{
                padding: 0px 50px
            }
        }
    }
}

.vision-container{
    background-color: #C4CBDA;
    // padding: 50px 0px;
    @include media-mobile{
        padding: 0px;
    }
}

.vision-wrapper{
    padding: 50px;
    h1{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-family: $brand__font; 
    }
    p{
        font-size: 18px;
        font-family: $brand__font2;
        font-weight: normal;
        color: #000;
    }
}

.vision-image{
    background-size: cover;
    background-position: center center;
    min-height: 700px;
}

.vision-box{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    p{
        padding: 0px 20px;
    }
    padding-bottom: 10px;

    stroke-width: 0;
    fill-opacity: 0.23;
    stroke: rgba(48, 48, 48, 1);
    stroke-opacity: 1;
    fill: rgba(131, 156, 177, 1);
    .triangle{
        position: absolute;
        bottom: 0px;
        height: 100%;
        width: 100%;
        pointer-events: none    ;
    }
}